/* Fuente de Google - Poppins */
@import url("https:fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Estilos generales al DOM */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-size:16px;
	margin:0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #092635;
}
.booking{
    position: relative;
    max-width: 750px;
    width: 100%;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 25px;
}
.booking_form .input_box{
    width: 100%;
    margin-top: 20px;
}
.booking_form .input_box label{
    color: #333;
}
.booking_form :where(.booking_form .input_box input, .select_box){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #000;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.booking_form .input_box input:focus{
	border-color: #007bff;
}
.booking_form .column{
    display: flex;
    column-gap: 15px;
}
.select_box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: #707070;
    color: #000;
    font-size: 1rem;
}
.booking_form .button_container {
    text-align: center;
}
.booking_form button{
	background-color: #007bff;
	margin-top: 30px;
    height: 55px;
	width: 50%;
	padding: 10px 0;
	border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
}

/* Responsive */
@media screen and (max-width: 750px) {
    .booking{
        width: 500px;
    }
    .booking_form .column{
        flex-wrap: wrap;
    }
}