/* Google font - Poppins */
@import url("https:fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --colorPrincipal: #00B9C5;
    --colorTexto: #fff;
    --colorFondo: #151313;
    --fuenteGrande: 3.2rem;
    --fuente-h2: 1.30rem;
    --fuente-p: 0.9rem;
}
::selection{
    background: var(--colorPrincipal);
    color: #fff;
}
body{
    color: var(--colorTexto);
    background: var(--colorFondo);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 160px;
    background-color: var(--colorFondo);
}
.logo{
    color: var(--colorPrincipal);
    font-weight: bold;
    font-size: 2.5rem;
}
.navegacion{
    display: flex;
}
.navegacion a{
    color: var(--colorTexto);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 600;
}
.navegacion a:hover{
    color: var(--colorPrincipal);
    transition: 0.4s;
}
#icono-menu{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 95px 13%;
}
.inicio{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
}
.img-inicio img{
    max-width: 100%;
    width: 700px;
    height: auto;
}
.txt-inicio h1{
    font-size: var(--fuenteGrande);
    color: var(--colorPrincipal);
}
.txt-inicio h2{
    font-size: var(--fuente-h2);
    margin: 1rem 0 2rem;

}
.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--colorPrincipal);
    color: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
.boton:hover{
    transform: scale(1.1) translateY(10px);
    transition: 0.4s ease-in-out;
}
.sobreNosotros{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2.5rem;
    align-items: center;
}
.sobreN-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.sobreN-txt span{
    color: var(--colorPrincipal);
    font-weight: bold;
}
.sobreN-txt h2{
    font-size: var(--fuente-h2);
}
.sobreN-txt p{
    margin: 0.8rem 0 1.8rem;
}
.titulo{
    text-align: center;
}
.titulo span{
    color: var(--colorPrincipal);
    font-weight: bold;
}
.titulo h2{
    font-size: var(--fuente-h2);
}
.contenedor-menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
    align-items: center;
}
.contenido{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 2rem;
    border-radius: 0.5rem;
}
.contenedor-img{
    width: 220px;
    height: 220px;
}
.contenedor-img img{
    width: 100%;
    height: 100%;
}